Repository jellyfin/jellyfin-sdk-typescript, pull requests merged in 2022-12, with the labels that each got.

#341 Target ES6 properly
  README.md
  tsconfig.json
Labels: enhancement

#349 Update README documentation
  README.md
Labels: documentation

#351 Add ci to update openapi-unstable branch
  .github/workflows/sdk-unstable-branch.yaml
Labels: enhancement, github_actions

#354 Add GH action for publishing unstable builds
  .github/workflows/sdk-unstable-branch.yaml
  .github/workflows/sdk-unstable-publish.yaml
Labels: enhancement, github_actions
