Repository jellyfin/jellyfin-sdk-typescript, pull requests merged in 2024-03, with the labels that each got.

#658 Move from Jest to Vitest
  .eslintrc.cjs
  .github/workflows/test.yml
  .npmignore
  jest.config.cjs
  package-lock.json
  package.json
  src/__helpers__/it-if.ts
  src/__tests__/api.test.ts
  src/__tests__/integration.test.ts
  src/__tests__/jellyfin.test.ts
  src/discovery/__tests__/discovery-service.test.ts
  src/discovery/__tests__/recommended-server-discovery.test.ts
  src/models/api/__tests__/index.test.ts
  src/utils/__tests__/address-candidates.test.ts
  src/utils/__tests__/authentication.test.ts
  src/utils/__tests__/browser-profiles.test.ts
  src/utils/__tests__/versioning.test.ts
  src/utils/api/__tests__/api.test.ts
  src/utils/api/__tests__/image-urls-api.test.ts
  src/utils/url/__tests__/normalize-url.test.ts
  src/utils/url/__tests__/url.test.ts
  vitest.config.ts
Labels: dependencies, cleanup

#671 Fix missing lcov test reporter
  vitest.config.ts
Labels: cleanup

#679 Update actions to node 20
  .github/workflows/code-quality.yml
  .github/workflows/sdk-docs.yaml
  .github/workflows/sdk-publish.yaml
  .github/workflows/sdk-unstable-branch.yaml
  .github/workflows/sdk-unstable-publish.yaml
  .github/workflows/sdk-update-api-spec.yaml
  .github/workflows/test.yml
Labels: dependencies, github-actions
